{% extends 'base.html.twig' %}

{% block title %}My favourite appliance{% endblock %}

{% block product_filters %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order by
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item selected" href="{{ path('main_index_paginated', {page: paginator.currentPage}) }}?order=price">Price cheaper first</a>
                            <a class="dropdown-item" href="{{ path('main_index_paginated', {page: paginator.currentPage}) }}?order=!price">Price expensive first</a>
                            <a class="dropdown-item" href="{{ path('main_index_paginated', {page: paginator.currentPage}) }}?order=title">Title asc</a>
                            <a class="dropdown-item" href="{{ path('main_index_paginated', {page: paginator.currentPage}) }}?order=!title">Title desc</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
{% endblock %}

{% block content %}
    {% for product in paginator.results %}
        {{ include('/product/_product_card.html.twig') }}
    {% endfor %}
{% endblock%}


{% block pagination %}
{% if paginator.hasToPaginate %}
    <div class="row">
        <nav class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('main_index_paginated', {page: 1}) }}" rel="first"><i class="fa fw fa-long-arrow-left"></i> First</a></li>
                    <li class="page-item"><a class="page-link" href="{{ path('main_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i> First</span></li>
                    <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i> Previous</span></li>
                {% endif %}

                {% set pageLimit = 5 %}
                {% if (paginator.currentPage-5) <= 0 %}
                    {% set pageLimit = pageLimit + (5-paginator.currentPage) %}
                {% endif %}
                {% if (paginator.currentPage+5) > paginator.lastPage %}
                    {% set pageLimit = pageLimit + (paginator.currentPage+5-paginator.lastPage) %}
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if ((paginator.currentPage-pageLimit) < i) and (paginator.currentPage+pageLimit) > i  %}
                        {% if i == paginator.currentPage %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('main_index_paginated', {page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('main_index_paginated', {page: paginator.nextPage}) }}" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                    <li class="page-item"><a class="page-link" href="{{ path('main_index_paginated', {page: paginator.lastPage}) }}" rel="next">Last <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next <i class="fa fw fa-arrow-right"></i></span></li>
                    <li class="page-item disabled"><span class="page-link">Last <i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
{% endblock %}
