{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registration{% endblock %}

{% block content %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
    {{ form_widget(form) }}
    </div>

    <input type="submit" value="{{ 'registration.submit'|trans }}" />

{{ form_end(form) }}
{% endblock %}