{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block product_filters %}
    <div class="row">
        <h1>Wishlist</h1>

        {% if app.user %}

            {% if not app.user.getShareWishlist %}
                    <a href="{{ path('wishlist_share') }}" class="btn-link">Click here to share your wishlist!</a>
                {% else %}
                    <a href="{{ path('wishlist_share') }}" class="btn-link">Click here to stop sharing your wishlist!</a>
                    <div>Thats your link:
                        <a href="{{ absolute_url(path('wishlist_show_friend', {"user": app.user.getId})) }}">
                            {{ absolute_url(path('wishlist_show_friend', {"user": app.user.getId})) }}
                        </a>

                    </div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}

{% block content %}

    {% if wishProducts is not empty  %}
        {% for wishProduct in wishProducts %}
            {% set product = wishProduct.getProduct %}
            {{ include('/product/_product_card.html.twig') }}
        {% endfor %}
    {% else %}
        <p>There is no product in your wishlist.</p>
    {% endif %}
{% endblock %}



