<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        {% set  productImage = product.getProductImages.first %}
        {% set image = 'https://via.placeholder.com/350' %}
        {% if productImage  %}
            {% set  relativePath = getImageUrl(product.id, productImage.getFileName) %}
            {% set image = asset(relativePath) | imagine_filter('product_main') %}

        {% endif %}
        <img class="card-img-top" src="{{ image }}" alt="">

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ path('product_index', {product: product.id}) }}">{{ product.name }}</a>
            </h4>
            <h5>€{{ product.price }}</h5>
            {% if product.pricePrevious is not empty  %} <h5 style="text-decoration: line-through;">€{{ product.pricePrevious }}</h5> {% endif %}
            {% if app.user %}
                {% if not app.user.isWished(product) %}
                    <a class="btn btn-link" href="{{ path('wishlist_product_add', {"product_id":product.id}) }}">
                        Add to my wishlist
                    </a>
                {% else %}
                    <a class="btn btn-link" href="{{ path('wishlist_product_remove', {"product_id":product.id}) }}">
                        Remove from wishlist
                    </a>
                {% endif %}
            {% endif %}
        </div>

        <div class="card-footer">
            {% if product.hasStock %}
                <small class="text-success">Stock available</small>
                {% else %}
                <small class="text-danger">Without stock</small>
            {% endif %}
        </div>
    </div>
</div>