{% extends 'base.html.twig' %}

{% block title %}{{ product.name|escape }}{% endblock %}

{% block body %}

    <div class="card mt-4">
        {% set  productImage = product.getProductImages.first %}
        {% if productImage  %}
            {% set  relativePath = getImageUrl(product.id, productImage.getFileName) %}
            <img class="card-img-top img-fluid" src="{{ asset(relativePath) | imagine_filter('product_main') }}" alt="">
        {% endif %}

        <div class="card-body">
            {% for image in product.getProductImages %}
                {% set relativePath = getImageUrl(product.id, image.getFileName) %}
                <img src="{{ asset(relativePath) | imagine_filter('product_thumb') }}" class="img-thumbnail" alt="">
            {% endfor %}
            <h3 class="card-title">{{ product.name }}</h3>
            <h4>€{{ product.price }}</h4>

            {% if product.pricePrevious is not empty  %} <h4 style="text-decoration: line-through;">€{{ product.pricePrevious }}</h4> {% endif %}
            {% if product.hasStock %}
                <small class="text-success">Stock available</small>
            {% else %}
                <small class="text-danger">Without stock</small>
            {% endif %}
            {% if app.user %}
                {% if not app.user.isWished(product) %}
                    <a class="btn btn-link" href="{{ path('wishlist_product_add', {"product_id":product.id}) }}">
                        Add to my wishlist
                    </a>
                {% else %}
                    <a class="btn btn-link" href="{{ path('wishlist_product_remove', {"product_id":product.id}) }}">
                        Remove from wishlist
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-seconday my-4">
        <div class="card-header">Overview</div>
        <p class="card-text">
        {{ getBlobStream(product.getOverview)|raw }}
        </p>
    </div>

    <div class="card card-outline-seconday my-4">
        <div class="card-header">Features</div>

        <table class="table table-bordered">
            <tbody>
            {% set productFeatures = product.getProductFeatures %}
            {% for productFeature in productFeatures %}
                {% set feature = productFeature.getFeature %}
                {% set featureValue = productFeature.getFeatureValue %}
                <tr><th>{{ feature.name }}</th><td>{{ featureValue.value }}</td></tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {#<div class="card card-outline-secondary my-4">#}
        {#<div class="card-header">#}
            {#Product Reviews#}
        {#</div>#}
        {#<div class="card-body">#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
            {#<small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
            {#<hr>#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
            {#<small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
            {#<hr>#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>#}
            {#<small class="text-muted">Posted by Anonymous on 3/1/17</small>#}
            {#<hr>#}
            {#<a href="#" class="btn btn-success">Leave a Review</a>#}
        {#</div>#}
    {#</div>#}
    <!-- /.card -->
{% endblock %}
