<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}My favourite appliances{% endblock %}</title>


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('main_index') }}">My favourite appliances</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            {% block navigation %}

                                {% if not app.user %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login {{ app.user }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                                    </li>

                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Hi, {{ app.user }}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('wishlist_index') }}">My wishlist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                    </li>

                                {% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>

        <!-- Page Content -->
        <div class="container" style="margin-top: 70px;">

            <div class="row">

                <div class="col-lg-9">

                    {% block notifications %}

                        {% for label, messages in app.flashes(['success', 'warning']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock %}


                    {% block body %}
                        {% block product_filters %}{% endblock %}

                        <div class="row">
                            {% block content %}
                                Put some content here
                            {% endblock %}

                        </div>
                        {% block pagination %}{% endblock %}
                    {% endblock %}

                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
